body {
    padding: 10px;
}

ul {
    padding: 0px;
}

.card {
    background-color: #505050;
    max-width: 100%;
}

.col-md-5 {
    padding: 10px;
}

.col-md-5 > img {
    max-width: 300px;
}

.card-text {
    font-size: x-large;
}
