body {
    padding: 10px;
}

ul {
    padding: 0px;
}

.listing {
    padding: 10px;
    margin-bottom: 10px;
    height: 200px;
    background-color: #505050;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 70% 30%;
    grid-auto-rows: minmax(min-content, max-content);
    height: 200px;
}

.grid-img {
    text-align: center;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.no-img-grid-cont {
    display: grid;
    grid-template-rows: 70% 30%;
    grid-auto-rows: minmax(min-content, max-content);
    height: 200px;
}


.grid-desc {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-price {
    font-weight: bold;
    font-size: x-large;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.no-img-grid-cont > .grid-desc, .no-img-grid-cont > .grid-price {
    grid-column-start: auto;
    grid-column-end: auto;
}