body {
    background-color: #151515;
    color: antiquewhite;
  }

a, a:hover {
    color: antiquewhite;
    text-decoration: none;
}

a :hover {
    color: white;
}

.nav {
    background-color: #252525;
}