body {
    background-color: #151515;
    color: antiquewhite;
  }

a, a:hover {
    color: antiquewhite;
    text-decoration: none;
}

a :hover {
    color: white;
}

header {
    background-color: #252525;
}

.auth-group {
    text-align: end;
}