{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}Auctions - Categories{% endblock %}

{% block extrahead %}
  <link href="{% static 'auctions/categories.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<h2 class="mx-4 px-5">Categories</h2>

<div class="categories">
  <div class="row mx-3 mb-3 p-3">
    {% for category in categories|slice:":3" %}
    <div class="col-md-4 px-5">
      <a href="{% url 'category_listings' category=category.name %}">
        <div class="card w-100">
          <div class="card-image">
            <img src="{{ category.image_url }}" class="card-img-top mx-auto" alt="...">
          </div>
          <div class="card-body">
            <h3 class="card-title text-center">{{ category.name }}</h3>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </>
  <div class="row mx-3 mb-3 p-3">
    {% for category in categories|slice:"3:" %}
    <div class="col-md-4 px-5">
      <a href="{% url 'category_listings' category=category.name %}">
        <div class="card w-100">
          <div class="card-image">
            <img src="{{ category.image_url }}" class="card-img-top mx-auto" alt="...">
          </div>
          <div class="card-body">
            <h3 class="card-title text-center">{{ category.name }}</h3>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}