{% extends "auctions/layout.html" %}
{% load static %}

{% block extrahead %}
  <link href="{% static 'auctions/index.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<h2>Active Listings</h2>

<ul>
  {% for listing in listings %}
  <a href="{% url 'listing' listing_id=listing.id %}">
    <div class="card mb-3">
      <div class="row g-0 px-3">
        {% if listing.image_url %}
        <div class="col-md-5 text-center">
          <img src="{{ listing.image_url }}" class="img-fluid rounded" width="300px">
        </div>
        <div class="col-md-7">
        {% else %}
        <div class="col-md-12">
        {% endif %}
          <div class="card-body">
            <h2 class="card-title">{{ listing.title }}</h2>
            <p class="card-text">{{ listing.description }}</p>
            <p class="card-text"><small class="text-body-secondary">Listed {{ listing.date }}</small></p>
            <h6>${{ listing.price | floatformat:"2g" }}</h6>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% empty %}
  <li>No active listings yet.</li>
  {% endfor %}
</ul>
{% endblock %}