{% load static %}

{% if not active %}
<!--Winner announcement-->
<div class="header">
  {% if winner %}
    ¡You won the auction!
  {% elif owner %}
    This auction listing is closed. The winner is {{ listing.winner }}.
  {% elif not winner %}
    This auction listing is closed.
  {% endif %}
</div>
{% endif %}

<!--Image, title, price-->
<div class="row main mx-3 mb-3 p-3">

  <!--Image container-->
  <div class="col-md-7 text-center"> 
    <div class="img-cont">
      <img src="{{ listing.image_url }}" width="300">
    </div>
  </div>

  <!--Title, watchlist, price container-->
  <div class="col-md-5">
    <div class="h-25">
      <!--Title container-->
      <h2>{{ listing.title }}</h2>
    </div>

    <!--Price & Bid placing-->
    <div class="h-50 px-0">
      {% if user.is_authenticated %}
      <!--Price-->
      <div class="h-50">
        <h2 class="m-0 h-75">${{ listing.price | floatformat:"2g" }}</h2>
      </div>

      <!--Bid placing-->
      <div class="h-50">
        <form class="input-group mb-1" action="{% url 'place_bid' listing_id=listing.id %}" method="post">
          {% csrf_token %}
          {{ bid_form }}
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Place Bid</button>
        </form>
        <p class="m-0">
          {{ bid_count }} bid(s) so far.
          {% if user_winning %}
            Your bid is the current bid.
          {% endif %}
        </p>       
      </div>

      {% else %}
      <div class="price ">
        <h2>${{ listing.price | floatformat:"2g" }}</h2>
      </div>
      {% endif %}   
    </div>
    <div class="h-25 pt-4">
      <!--Watchlist button container-->
      {% if user.is_authenticated %}
        <form class="watchlist-form mt-2" action="{% url 'manage_watchlist' listing_id=listing.id %}" method="post">
          {% csrf_token %}
          {% if not watchlisted %}
            <input type="hidden" name="watchlist" value="add">
            <input type="submit" value="Add to Watchlist">
          {% else %}
            <input type="hidden" name="watchlist" value="remove">
            <input type="submit" value="Remove from Watchlist">
          {% endif %}
        </form>
      {% endif %}
    </div>
  </div>
</div>