{% extends "auctions/layout.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'listing.css' %}">
{% endblock %}

{% block body %}

<div class="header">
  {% if not active and winner %}
    ¡You won the auction!
  {% elif not active and owner %}
    This auction listing is closed. The winner is {{ listing.winner }}.
  {% elif not active and not winner %}
    This auction listing is closed.
  {% endif %}

  <h2>Listing: {{ listing.title }}</h2>
  
  {% if user.is_authenticated %}
  <form class="watchlist-form" action="{% url 'manage_watchlist' listing_id=listing.id %}" method="post">
    {% csrf_token %}
    {% if not in_watchlist %}
      <input type="hidden" name="watchlist" value="add">
      <input type="submit" value="Add to Watchlist">
    {% else %}
      <input type="hidden" name="watchlist" value="remove">
      <input type="submit" value="Remove from Watchlist">
    {% endif %}
  </form>
  {% endif %}
</div>

{% if listing.image_url %}
<div class="img-cont">
  <img src="{{ listing.image_url }}" height="300">
</div>
{% endif %}

<div class="desc">
  {{ listing.description }}
</div>
<div class="price">
  <h2>${{ listing.price }}</h2>
</div>

{% if user.is_authenticated %}
<form class="bid-form" action="{% url 'place_bid' listing_id=listing.id %}" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Place Bid">
</form>
{% endif %}

<div class="details">
  <h3>Details</h3>
  <ul>
    <li>Listed by: {{ listing.creator }}</li>
    {% if listing.category %}
    <li>Category: No Category Listed</li>
    {% else %}
    <li>Category: No Category Listed</li>
    {% endif %}
  </ul>
</div>

{% if owner %}
<form class="closing-form" action="{% url 'manage_closing' listing_id=listing.id %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="close" value="close">
  <input type="submit" value="Close">
</form>
{% endif %}

{% endblock %}