{% extends "auctions/layout.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'listing.css' %}">
{% endblock %}

{% block body %}

<!--Winner announcement-->
<div class="header">
  {% if not active and winner %}
    ¡You won the auction!
  {% elif not active and owner %}
    This auction listing is closed. The winner is {{ listing.winner }}.
  {% elif not active and not winner %}
    This auction listing is closed.
  {% endif %}
</div>

<!--Image, title, price-->
<div class="row p-3">

  <!--Image container-->
  <div class="col-md-7 text-center"> 
    <div class="img-cont">
      <img src="{{ listing.image_url }}" height="300">
    </div>
  </div>

  <!--Title, watchlist, price container-->
  <div class="col-md-5">
    <div class="row h-25">
      <!--Title container-->
      <div class="col-sm-9">
        <h2>{{ listing.title }}</h2>
      </div>

      <!--Watchlist button container-->
      <div class="col-sm-3">
        {% if user.is_authenticated %}
          <form class="watchlist-form" action="{% url 'manage_watchlist' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            {% if not watchlisted %}
              <input type="hidden" name="watchlist" value="add">
              <input type="submit" value="Add to Watchlist">
            {% else %}
              <input type="hidden" name="watchlist" value="remove">
              <input type="submit" value="Remove from Watchlist">
            {% endif %}
          </form>
        {% endif %}
      </div>

    </div>

    <!--Price & Bid placing-->
    <div class="row h-75">
      {% if user.is_authenticated %}
      <!--Price-->
      <div class="row h-50">
        <div class="price">
          <h2>${{ listing.price }}</h2>
        </div>
      </div>

      <!--Bid placing-->
      <div class="row h-50">
        <form class="input-group mb-3" action="{% url 'place_bid' listing_id=listing.id %}" method="post">
          {% csrf_token %}
          {{ bid_form }}
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Place Bid</button>
        </form>
        <div class="bid-placing">
          <p>
            {{ bid_count }} bid(s) so far.
            {% if user_winning %}
              Your bid is the current bid.
            {% endif %}
          </p>    
        </div>
      </div>

      {% else %}
      <div class="price">
        <h2>${{ listing.price }}</h2>
      </div>
      {% endif %}   
    </div>
  </div>
</div>

<!--Description & Details-->
<div class="row p-3">

  <!--Description-->
  <div class="col-lg-8">
    <div class="row h-50">
      <div class="desc">
        {{ listing.description }}
      </div>
    </div>
  </div>

  <!--Details-->
  <div class="col-lg-4">
    <div class="details">
      <h3>Details</h3>
      <ul>
        <li>Listed by: {{ listing.creator }}</li>
        {% if listing.category %}
        <li>Category: No Category Listed</li>
        {% else %}
        <li>Category: No Category Listed</li>
        {% endif %}
      </ul>
    </div>  
  </div>

</div>


{% if user.is_authenticated %}
<div class="row p-3 w-100">
  <div class="add-comment w-100">
    <form class="input-group mb-3" action="{% url 'add_comment' listing_id=listing.id %}" method="post">
      {% csrf_token %}
      {{ comment_form }}
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
    </form>
  </div>
</div>
{% endif %}


<div class="comments">
  <h3>Comments</h3>
  <ul>
    {% for comment in comments %}
    <li>{{ comment }}</li>
    {% empty %}
    <li>No comments added yet.</li>
    {% endfor %}
  </ul>
</div>

{% if active and owner %}
<form class="closing-form" action="{% url 'manage_closing' listing_id=listing.id %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="close" value="close">
  <input type="submit" value="Close">
</form>
{% endif %}



{% endblock %}