{% extends "auctions/layout.html" %}
{% load static %}

{% block extrahead %}
  <link href="{% static 'auctions/auth.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}


{% if message %}
<div>{{ message }}</div>
{% endif %}
<div class="form-group mx-auto p-3">
  <h2>Register</h2>
  
  <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <input class="form-control mb-2 autofocus type="text" name="username" placeholder="Username">
    <input class="form-control mb-2" type="email" name="email" placeholder="Email Address">
    <input class="form-control mb-2" type="password" name="password" placeholder="Password">
    <input class="form-control mb-4" type="password" name="confirmation" placeholder="Confirm Password">
    <div class="row">
      <div class="col-3">
        <input class="btn btn-secondary" type="submit" value="Register">
      </div>
      <div class="col-9">
        Already have an account? <a class="btn btn-outline-secondary" href="{% url 'login' %}">Login</a>
      </div>
    </div>
  </form>
</div>



{% endblock %}